/* 
Colors:
yellow: #FFF84D;

*/

body {
	background-color: black;
}
h1, h3 {
	color: #FFF84D;
}
header {
	position: relative;
	margin-bottom: 40px;
}
header img {
	width: 100px;
	margin-top: 5px;
	opacity: 1;
	transition: 1s;
}
header img:hover {
	transform: rotate(45deg);
	transition: 1s;
}
.alert-div {
	position: relative;
}
.positioned-alert {
	opacity: 0;
	position: absolute;
    right: -80px;
    top: 29px;
    transition: 1s;
}
button {
	margin: 30px;
    background-color: black;
    border: 4px solid #fff84D;
    color: #fff84D;
    padding: 10px 30px;
}
.letter-display {
	border: 5px solid #FFF84D;
	padding-top: 40px;
}
.letter-display h1 {
	letter-spacing: 10px;
	margin: 40px 0 20px 0;
}
.letter-display h1 span {
	border-bottom: 4px solid #fff84D;
	text-align: center;
	width: 40px;
	margin: 10px;
	display: inline-block;
}
.space {
	border-bottom: none !important;
}
.alphabet {
	margin-top: 40px;
	margin-bottom: 40px;
}
.alphabet h1 {
	line-height: 2;
}
.alphabet h1 span {
	margin: 20px;
	opacity: .2;
}
.score-container {
	border: 5px solid #FFF84D;
}

/* Lightsaber Styles */

/* Starting Style is invisible */
.plasma-inner {
	display: none;
	height: 0%;
}

.plasma-outer {
	position: relative;
	height: 600px;
	margin: auto;
	/*padding-left: 40%;*/
}
.hilt-outer {
	position: relative;
	margin: auto;
	/*padding-left: 40%;*/
}
/* Left Lightsaber */
.lightsaber-left .plasma-inner {
	position: absolute;
	bottom: -10px;
	right: 85px;
	height: 100%;
	width: 10px;
	margin: auto;
	box-shadow: 0px 0px 10px 10px green;
	background-color: white;
	border-radius: 50px;
	transition: .3s;
}
.lightsaber-left .hilt {
	margin: auto;
	position: absolute;
	right: 80px;
	z-index: 99;
	width: 20px;
	height: 80px;
	background-color: #DBDBDB;
	border-bottom: solid 4px grey;
	border-top: solid 5px grey;
	border-radius: 7px;
}
/* Right Lightsaber */
.lightsaber-right .plasma-inner {
	position: absolute;
	bottom: -10px;
	left: 85px;
	height: 50%;
	width: 10px;
	margin: auto;
	box-shadow: 0px 0px 10px 10px red;
	background-color: white;
	border-radius: 50px;
	transition: .3s;
}
.lightsaber-right .hilt {
	margin: auto;
	position: absolute;
	left: 80px;
	z-index: 99;
	width: 20px;
	height: 80px;
	background-color: #DBDBDB;
	border-bottom: solid 4px grey;
	border-top: solid 5px grey;
	border-radius: 7px 22px 7px 7px;
}


/* Star background from @nodws on codepen */
html,body{
	height:100%;
	max-width:100%;
	margin:0;
	overflow:hidden;
	background:rgba(0,10,20,1) url(http://i68.tinypic.com/2i7bc07.jpg) no-repeat;
	background-size:cover;
	image-rendering: pixelated; 
	font-family:sans-serif
}
#space{
	width:100%;
}
#warp{
	position:absolute;
	z-index:9;
	bottom:0;
	left:0;
	right:0;
	margin:20px auto;
	color:rgba(209, 255, 255,1);
	border:2px solid;
	padding:1em;
	width:10em;
	text-align:center;
	font-weight:700;
	font-size:1.2em;
	display:inline-block;
	text-decoration:none;
	background:rgba(0,0,0,0.8);
}

/* My Code */
canvas {
	position: absolute;
}



